@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
}


header {
    background-color: #A65814;
}

header > h1 {
    padding-top: 10px;
    display: block;
    font-size: 4em;
    text-align: center;
}

header p {
    
    padding-bottom: 40px;
    text-align: center;
}

menu {
    display: none;
}



menu ul {
    
    list-style-type: none;
}

menu li {
    border: 1px solid ;
    padding: 5px;
    text-align: center;
    display: block;
    background-color: #944717;
    
}

menu a {
    
    text-decoration: none;
    color: white;
}

#icon-menu {
    cursor: pointer;
    text-align: center;
    display: block;
    background-color: #733712;
    
}

#icon-menu:hover{
    background-color: rgb(133, 63, 19); 
}

li:hover{
    background-color: #BF7A24;
}

#icon-pets {
    float: right;
    
}

